<!DOCTYPE html>
<html>
<head>
  <title>SmithyAuth</title>
  <%= stylesheet_link_tag    "smithy-auth/application", :media => "all" %>
  <%= javascript_include_tag "smithy-auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
